summary.doc-bar {
    @apply mx-[10%];
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-bottom: 25px;
  }
  details[open] summary {
    background-color: #e0e0e0; 
  }
  
  summary.doc-bar::after {
    content: '▼';  
    font-size: 1rem;
  }
  
  details[open] summary.doc-bar::after {
    content: '▲';  
  }

  details p {
    @apply mx-[10%] pl-8;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .doc-bar {
    border-color: var(--btn-text-color);
  }

  .doc-header {
    color: var(--btn-text-color);
  }

  .doc-body {
    color: var(--btn-text-color);
  }

  #doc-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }
  #tool-example {
    @apply rounded-sm;
    width: 30px;
    height: 30px;
    background-color: var(--btn-text-color);
    color: var(--button-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #nav-tab {
    @apply rounded-sm;
    width: 30px;
    height: 30px;
    background-color: var(--btn-text-color);
    color: var(--button-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }