summary.doc-bar {
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-bottom: 25px;
  }
  details[open] summary {
    background-color: #e0e0e0; 
  }
  
  summary.doc-bar::after {
    content: '▼';  
    font-size: 1rem;
  }
  
  details[open] summary.doc-bar::after {
    content: '▲';  
  }

  details p {
    white-space: normal;
    overflow-wrap: break-word;
  }