@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --black: rgb(0, 0, 0);
}

html, body {
    height: 100%;
}

body {
    @apply bg-white dark:bg-black;
}

/* Button classes */
.btn-primary {
    @apply rounded-3xl p-4 text-lg font-bold cursor-pointer tracking-wider bg-cyan-600 text-white hover:bg-cyan-300 transform transition duration-150 hover:scale-110 dark:bg-cyan-700;
}

.btn-nocolor {
    @apply rounded-3xl p-4 text-lg font-bold cursor-pointer tracking-wider transform transition duration-150 hover:scale-110;
}

.btn-file {
    @apply cursor-pointer tracking-wider transform transition duration-150 hover:scale-110;
}

.btn-logo {
    @apply w-16 h-16 align-middle transform transition duration-150 hover:scale-110;
}

.theme-icon {
    @apply w-8 h-8 transform transition duration-150 hover:scale-110 text-white;
}

/* Navbar class */
.navBar {

    @apply p-4 mx-auto bg-slate-500 z-50 dark:bg-slate-800;

}

/* Main content area */
main {
    @apply pt-16 pb-10 h-full z-0 overflow-x-scroll bg-gray-200 dark:bg-gray-900;
    background-repeat: repeat;
}



#editorjs {
    border: 2px solid var(--black);
    margin-left: 25%;
    margin-right: 25%;
}

