@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: rgb(0, 0, 0);
}

html, body {
    height: 100%;
}

.btn-primary {
    @apply rounded-3xl p-4 text-lg font-bold cursor-pointer tracking-wider bg-cyan-600 text-white hover:bg-cyan-300 transform transition duration-150 hover:scale-110;
}

.btn-nocolor {
    @apply rounded-3xl p-4 text-lg font-bold cursor-pointer tracking-wider transform transition duration-150 hover:scale-110;
}

.btn-file {
    @apply cursor-pointer tracking-wider transform transition duration-150 hover:scale-110;
}

.navBar {
    @apply p-4 mx-auto fixed bg-slate-500 z-50 w-full;
}

main {
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: lightgray;
    height: 100%; 
    z-index: 0;
    overflow-x: scroll;
    background-repeat: repeat;
}

#editorjs {
    border: 2px solid var(--black);
    margin-left: 25%;
    margin-right: 25%;
}